#background {
background: url('../public/images/coy.jpg') no-repeat 50% 50% fixed;
background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-webkit-background-size: cover;
}
head{
	width: 5%;
}

form{
	width: 40%;
	padding-left: 20%;
}

.container{
	height: 2%;
}

