#background {
background: url('./logaster_No_2_jpg/1024_pixels/3_White_logo_on_color1_1024.jpg') no-repeat 50% 50% fixed;
background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-webkit-background-size: cover;
}

.container-fluid{

}

.dropdown{
	position: relative;
}